#headerlogo {
  height: 50px;
  width: 150px;
  cursor: pointer;
}

#headerdropdown {
  height: 27px;
  width: 27px;
}


.register {
  background-image: url("../src/Images/02.jpg");
  background-attachment: fixed;
  background-size: cover;
  /* background-size: 100rem 52rem; */
  background-repeat: no-repeat;
  height: 760px;
}

.MuiOutlinedInput-notchedOutline {
  
  border-color: black !important;
}

.logoimage{
  height:100px;
  width: 330px;
}

.forgotpara{
  color: rgb(217, 240, 224);
  cursor: pointer;
}
.forgotpara:hover{
  color: rgb(105, 105, 235);
}

.forgotpara:link {
  color: whitesmoke;
} 

.reqpara{
  color: whitesmoke;
}
